/* General styles for all menus */
.cbp-spmenu {
    /*background: #47a3da;*/
    background: #ffffff;
    position: fixed;

    border: 1px solid #48b648;
    border-radius: 5px;
    list-style-type: none;

    -webkit-box-shadow: 10px 10px 5px #888888;
    -moz-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
}

.cbp-spmenu h3 {
    color: #ffffff;
    font-size: 1.5em;
    padding: 20px;
    margin: 0;
    font-weight: 200;
    background: #48b648;
}

.cbp-spmenu a {
    display: block;
    color: #000000;
    font-size: 1.0em;
    font-weight: 200;
}

.cbp-spmenu a:hover {
    background: #dddddd;
    text-decoration: none; /*Rafael*/
}

.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
    width: 200px;
    /*height: 100%;*/
    min-height: 100px; /*Rafael Adjusting height in function of contents*/
    /*height: 450px; This works too. It puts automatic scroll */
    top: 0;
    z-index: 1000;
    overflow-y: auto; /* also scroll works */
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #48b648;
    padding: 1em;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right {
    top: 50px; /*Rafael*/
    right: -240px;
}

.cbp-spmenu-left.menu-open {
    left: 0px;
}

.cbp-spmenu-right.menu-open {
    right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -150px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.menu-open {
    top: 37px;
}

.cbp-spmenu-bottom.menu-open {
    bottom: 0px;
}

/* Push classes applied to the body */
.push-body {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.push-body-toright {
    left: 240px;
}

.push-body-toleft {
    left: -240px;
}

/* Transitions */
.cbp-spmenu,
.push-body {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-vertical { /*Rafael*/
        font-size: 75%;
        width: 150px;
        height: 240px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 75%;
        width: 150px;
        height: 200px;
    }

    .cbp-spmenu-left,
    .push-body-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .push-body-toright {
        left: 190px;
    }
}

span.textSideMenu {
    /*float:left;*/
    padding-left: 30px;
}