html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
/*#mapcontent, #map { width: 100%; height: 100%; padding-top: 20px; position: relative; z-index: 0; margin: 0;}*/

#mapcontent, #map { width: 100%; height: 100%;  padding: 0;}

#newrelease a {
    background:#434345;
    color:#fff;
    text-decoration:none;
    font-family:arial, sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 40px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
    z-index:9999999999;
    border:none;
}
#newrelease a:hover {
    background:#fff;
    color:#000;
}
#newrelease a::before,#newrelease a::after {
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff;
}
#newrelease a::after {
    bottom:1px;
    top:auto;
}
@media screen and (min-width:800px){
    #newrelease {
        position:absolute;
        display:block;
        top:0;
        left:0;
        width:200px;
        overflow:hidden;
        height:200px;
    }
    #newrelease a {
        width:200px;
        position:absolute;
        top:60px;
        left:-60px;
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
}

#containerBaseMap img {

    width: 80%;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
#containerCompareMap img {

    width: 60%;
    border: 1px solid black;
    border-radius: 10px;

    overflow: hidden;
}
.myCells {
    margin: 5px;

    overflow: hidden;
}

#target {
    height: 85px;
    width: 110px;
    text-align: center;
    margin: 5px;
    float: left;
    border: 5px dashed red;
    border-radius: 10px;
}
#llave img{
    height: 420px;
    border: transparent;
    margin: 0;
}

#myModal .modal-body {
    height: auto; /*Height only for this modal*/
}

.divApplicationHeader
{
    background-image: url("../images/header-bg.png");

    behavior: url("styles/PIE.htc");
    top: 0px;
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 1005;
    overflow: hidden;
    font-size: 24px;
}

/*We can animate the graphic using CSS animations and transitions to apply a pulsing effect.
In the example below the -webkit and -moz prefixes are used to define properties for the animation.
I did it for IE>9 too. Otherwise, I'll use Modernizr*/
@-webkit-keyframes
pulse
{
    0%
    {
        opacity: 1.0;
    }
    45%
    {
        opacity: .20;
    }
    100%
    {
        opacity: 1.0;
    }
}
@-moz-keyframes
pulse
{
    0%
    {
        opacity: 1.0;
    }
    45%
    {
        opacity: .20;

    }
    100%
    {
        opacity: 1.0;
    }
}

@keyframes
pulse
{
    0%
    {
        opacity: 1.0;
    }
    45%
    {
        opacity: .20;

    }
    100%
    {
        opacity: 1.0;
    }
}



/* Applying CSS effects to my custom graphics layer */
#layerParcels_layer{
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: pulse;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: pulse;
}

.infowindow .window .top .right .user .content {
    font-size: 8pt;
}

/* I need to override the default style coming from claro.css. It is wrong */
#dijit_layout_TabContainer_0_tablist_rightBtn {
    height: 23px !important;
}
#dijit_layout_TabContainer_0_tablist_leftBtn {
    height: 23px !important;
}

/*--------------------------------------------------+
|       Images in a table for City Tools Dialog     |
+--------------------------------------------------*/
table.tools td {
    border: 1px solid #555;
}

table.tools {
    border-collapse: separate;
    border-spacing: 10px;
}

.hasTooltip span {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.hasTooltip:hover span {
    display: block;
    position: absolute;
    background-color: #DDD;
    border: 1px solid #000;
    margin: 30px -10px;
}



/*------------------------------+
|       ACR Searching dialog    |
+-------------------------------*/

/*Zone below the map for filtering data from ACR*/
.myfilteringACR {
    position: absolute;
    height: auto !important;
    font-family: arial;
    top: 40px;
    margin: 5px;
    padding: 5px;
    z-index: 40;
    background: #fff;
    color: #444;
    width: 300px;
    right: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
}
h3 { margin: 0 0 10px 0; border-bottom: 1px solid #444; padding-bottom: 10px}

.myTextCount{
    font-size: 90%;
    margin-top: -50px;
    float: right;
}
#myMapCounter{
    font-size: 90%;
    margin-top: -30px;
    float: right;
    color: #68b045;
}

#selectCategory{
    margin-top: 10px;
}

#myCaseType{
    margin-top: 10px;
}

#btnSearchComplaints{
    margin-top: 10px;
    float: right;
}

#selectYear {
    float: right;
}
#from{
    width: 110px;
}
#to{
    width: 110px;
}
@media (max-width: 768px) {
    #selectYear {
        float: left;
        margin-top: 10px;
    }
    #filteringACR {
        width: 265px;
    }
    #myCaseType{
        /*display: inline-block; /*Using other line*/
        float: left;
        width: 255px;
    }
    #refineDateBlock{
        float: left;
        display: inline-block;
    }
    #refineDate{
        float: left;
    }

    #from{
        width: 95px;
    }
    #to{
        width: 95px;
    }
}

/*-------------------------------------------------------------------+
|       Trick for align the btn-group. There is a bug in Boostrap    |
+-------------------------------------------------------------------*/
/*
.btn-group {
    float: right;
    margin-top: -7px;
}
*/

/*---------------------------------------------------------+
|       A bunch of different settings on the PRINT tool    |
+---------------------------------------------------------*/
a.esriPrintout
{
    padding-top: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    color: #421B14;
    width: 150px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 95px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;

    border: 1px solid #DEDEDE;
    border-bottom: 1px solid #000000;
    background-color: #c0c0c0;
    border-radius: 4px;

}

#PrintContentBody{
    height: auto !important;
}

a.esriPrintout:hover
{
    color: #5EC5E6; /** I just picked something that would stand out **/
}

.esriPrint
{
    margin-top: 25px;
    padding: 0;

}

/*Distance between controls when we are using BOOTSTRAP dialogs*/
.one-row{
    margin-top: 15px;
    padding-bottom: 10px;
}
.oneCol, .twoCol {

    margin-right: 20px;
    float: left;
}

.thirdCol {

    float: right;
}


#print_button{
    padding-top: 10px;
    margin-left: -3px;
}

/*-------------------------------------------------------------------+
|       END - A bunch of different settings on the PRINT tool - END  |
+-------------------------------------------------------------------*/

/*-----------------------+
|       LEGEND           |
+-----------------------*/
#myLegendMD{
    width: 180px;
}
.myTextInLegend{
    margin-left: 30px;
    margin-top: 13px;
}
/*-----------------------+
|   END - LEGEND - END   |
+-----------------------*/

/*---------------------------+
|       DRAW TOOLS           |
+---------------------------*/
#myTypeOfDraw{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/*--------------------------------------------------+
|       cells in the table for Draw Tools Dialog    |
+--------------------------------------------------*/
table.table-container-draw {
    position: relative;
    left: 0;
}
/*  COLOUR  */
#drawColourSection {
    width: 75px;
    /*margin-top: 2px;*/
}
#leftColourDraw, #rightColourDraw {
    float: left;
}
#leftColourDraw {
    width: 50px;
 }
#rightColourDraw {
    width: 25px;
    margin-top: 9px;
}
#btnVideoHelpDrawTools {
    margin-top: 3px;
    margin-left: 23px;
    float: left;
}
/*  WIDTH SECTION  */
#drawWidthSection {
    width: 140px;
}
#leftWidthDraw, #righWidthDraw {
    float: left;
}
#leftWidthDraw {
    width: 40px;
}
#rightWidthDraw {
    width: 100px;
    margin-top: 4px;
}
/*  STYLE SECTION  */
#drawStyleSection {
    width: 140px;
}
#leftStyleDraw, #rightStyleDraw {
    float: left;
}
#leftStyleDraw {
    width: 40px;
}
#rightStyleDraw {
    width: 100px;
    margin-top: 2px;
}
/*  TEXT SECTION  */
#drawTextSection {
    width: 140px;
}
#leftTextDraw, #rightTextDraw {
    float: left;
}
#leftTextDraw {
    width: 40px;
    margin-top: 8px;
}
#rightTextDraw {
    width: 100px;
    margin-top: 9px;
}
/*  BUFFER SECTION  */
#drawBufferSection {
    width: 134px;
    /*top: -10px;*/
}
#leftBufferDraw, #rightBufferDraw {
    float: left;
}
#leftBufferDraw {
    width: 40px;
}
#rightBufferDraw {
    width:94px;
}

#dialog-draw-tool {
    min-width: 310px;
    left:-10px;
    top: -6px;
}

td.active-cell {
    background: #e6e6e6; /* Or some other color */
}
/*----------------------------------+
|       END DRAW TOOLS   END        |
+----------------------------------*/

/*  Centering the tittle in my JQuery ui dialogs    */
.ui-dialog .ui-dialog-title {
    text-align: center;
    width: 100%;
}

#contact a {
    top: 2px;
}
#contact a:hover {
    color: #47a3da;
}

#osmFrame {
    padding-bottom: 20px;
}


@media screen and (max-width: 768px) {
    #osmFrame {
        display:none;
    }
}


#mybtnGoTo {
    position:relative;
    float: right;
    width: 50px;
    bottom:15px;
}
#btnDrawPushpin{
    float: right;
    width: 50px;
}


/*----------------------------------+
|       DRAW A PARCEL TOOL          |
+----------------------------------*/
#curve {
    position:relative;
    top: 2px;
}
.myInputGeo {
    width: 40px;
}
#latNS {
    position:relative;
    margin-left: 17px;
}
#goDist {
    position:relative;
    margin-top: 5px;
}
#clockwise {
    font-weight: bold;
    font-size: 16px;
    float: right;
}
/*
#latNS {
    width: 43px;
}

#lonEW {
    position:relative;
    top: 24px;
    left: 0px;
    width: 43px;
}
#goD {
    position:relative;
    margin-left: 5px;
    height: 20px;
    top: 0px;
    width: 40px;
}
#goM {
    position:relative;
    height: 20px;
    top: 0px;
    width: 40px;
}
#goS {
    position:relative;
    height: 20px;
    top: 0px;
    width: 40px;
}
#goDist {
    position:relative;
    height: 20px;
    top: 3px;
    left: 48px;
    width: 136px;
}
*/
/*------------------------------------+
|       DRAW A PARCEL TOOL END        |
+------------------------------------*/


/*-----------------------------------------------+
|       RESIZE FORECAST DIALOG FOR IFRAME        |
+-----------------------------------------------*/
#forecast .modal-content {
    width: 345px;
    height: 265px; /*Height only for this modal*/
}
/*---------------------------------------------------+
|       END RESIZE FORECAST DIALOG FOR IFRAME        |
+---------------------------------------------------*/


/*-----------------------------------------------+
|       SOME STILING FOR TEMPLATES DIALOG        |
+-----------------------------------------------*/
#myTemplates .modal-body {
    margin-left: 0!important;
}
#myTemplates ul {
    list-style-type: none;
    width: 340px;
}
#myTemplates li img {
    padding-left: 5px;
}
#myTemplates h5 {
    display: inline;
    padding-left: 10px;
}
#myTemplates li {
    margin-left: -50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: auto;
    border-bottom-style: solid;
    border-width: 1px;
    /*border-style: solid;
    border-color: red;*/
}
#myTemplates li:last-child {

    border-bottom-style: none;
    /*border-style: solid;
    border-color: red;*/
}
#myTemplates li:hover {
    background: #eee;
    cursor: pointer;
}
/*---------------------------------------------------+
|       END SOME STILING FOR TEMPLATES DIALOG        |
+---------------------------------------------------*/


.collapsibleList ul {
    list-style-type: none;
}
.collapsibleList li {
    list-style-type: none;
}
.videoToggle a:hover {
    background-color: #eee;
    text-decoration: none;
}
.videoToggle a:link {
    text-decoration: none;
}
.videoToggle a:visited {
    text-decoration: none;
}
.videoToggle a {
    color: #000000;
}

/* esri/dijit/Search Modifications*/
.arcgisSearch .searchGroup .searchInput
{
    height: 15px !important;
}

.arcgisSearch .searchGroup .searchBtn  {
    height: 15px !important;
}

.arcgisSearch .searchGroup .searchClear  {
    height: 15px !important;
}

.arcgisSearch .searchIcon {
  font-size: 12px;
  width: 10px;
  height: 10px;
  line-height: 0;
  
}

.arcgisSearch .searchClose,
.arcgisSearch .searchSpinner {
  line-height: 25px;
  width: 10px;
  height: 10px;
}
