.governButton span {display:none;}
.governButton .home {padding:2px; width:30px; height:30px; background-color: #666; background-color: rgba(102,102,102,0.80); -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; cursor:pointer; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; background:url("../dijit/images/home.png"); background-position:center center; background-repeat:no-repeat;}
.governButton .governQueryParcel {padding:2px; width:30px; height:30px; background-color: #E0E0E0; background-color: rgba(224,224,224,0.80); -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; cursor:pointer; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; background-image:url("../dijit/images/governQuery.png"); background-position:center center; background-repeat:no-repeat;}
.governButton .governQueryParcel:hover {background-color: #333; background-color: rgba(102,102,102,0.90);}
.governButton .governQueryParcel:active {background-color: #11E011; background-color: rgba(18,224,18,0.80);}
.governButton .loading {background-image:url("../dijit/images/spinner.gif");}
.governButton .activeTool {background-color: #11E011; background-color: rgba(18,224,18,0.80);}
.governButton .activeTool:hover {background-color: #11E011; background-color: rgba(18,224,18,0.80);}
.governQueryParcelOLD {background: url("../dijit/templates/QueryParcel.png"); height:34px; width:34px; background-size: 34px 34px; background-repeat: no-repeat;}
.governUI {}
.governUI input {background-color: #F9F9F9;}
.governUI textarea {background-color: #F9F9F9;}
.governUI select {background-color: #F9F9F9;}
.governUI .recordNav {overflow: hidden;}
.governUI legend {
    display: block;
    width: auto;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    font-size: 18px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border: none;
    margin: 0px 0px 0px 0px;
}
.governUI fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border: 2px groove threedface;
}
.multimediaTable {border-collapse: collapse; border: 1px solid black;}
.multimediaTable th {border: 1px solid black; padding: 5px;}
.multimediaTable td {border: 1px solid black; padding: 5px; cursor: pointer;}
.multimediaTable p  {padding: 0px; margin: 0px;}
.longtext {position: relative; width:100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.longtext:hover {overflow:visible; background: yellow;}
.longtext .longdesc {position: absolute; top: -2px; width: 250px; margin-right: -160px; padding: 2px 10px 2px 10px; color: black; overflow:visible; background: gainsboro; -webkit-box-shadow: 2px 2px 5px #aaa; -moz-box-shadow: 2px 2px 5px #aaa; box-shadow: 2px 2px 5px #aaa; opacity: 0;}
.longtext:hover .longdesc {right: 0px; opacity: 1; overflow: visible; z-index:9999;}

.selected {
    background-color: brown;
    color: #FFF;
}