.elevationsProfile, .elevationsProfileChartNode {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.elevationsProfileToolbar .esriMeasurement .esriMeasurementResultLabel{
  display:none;
}
.elevationsProfileToolbar .esriMeasurement
.elevationsProfileToolbar .esriMeasurement .esriMeasurementResultValue{
  display:none !important;
}
.elevationsProfileToolbar .esriMeasurement{
  position: absolute;
  right:120px;
}
.elevationsProfileToolbar .close{
    position: absolute;
    right:10px;
    border: solid 1px black;
    height: 30px;
    width: 30px;
}
/*.esriRTL .esriMeasurement{
  position: absolute;
  left:50px;
  right:auto;
}*/
.elevationsProfileToolbar .esriMeasurement .esriMeasurementSeparator{
    display:none;
}
.elevationsProfileToolbar .esriMeasurement .esriMeasurementResultValue div {
    display: none;
}
.elevationsProfileToolbar .esriMeasurement #dijit_form_DropDownButton_0{
    visibility: visible !important;
}
.elevationsProfileToolbar .esriMeasurement .esriButtonChecked .dijitButtonNode{
    border: solid 2px #CD853F !important;
}

.elevationsProfileToolbar {
    position: absolute;
    float: right;
    text-align: right;
    width: 100%;
    height:50px;
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

.esriRTL .elevationsProfileToolbar {
    float: left;
    text-align: left;
}

.elevationsProfileToolbar .dijitButtonText {
    color: #eee;
    font-size: smaller;
    font-weight: bolder;
}

.elevationsProfileToolbar .dijitButtonNode {
    margin: 0;
    padding: 2px;
    background: none !important;
    border: solid 1px transparent !important;
    border-radius: 3px !important;
}


.elevationsProfileToolbar .dijitArrowButtonInner {
    background-image: url(../images/buttonArrows.png) !important;
}



.elevationsProfileLabel {
    color: #eee;
    font-weight: bolder;
    font-size: 0.7em;
    line-height: 1.0em;
}

.elevationsProfileGainLossLabel {
    width: 30%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
}

.esriRTL .elevationsProfileGainLossLabel {
    right: 10px;
    text-align: right;
}

.elevationsProfileSourceLabel {
    width: 30%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
    text-overflow: ellipsis;
}

.esriRTL .elevationsProfileSourceLabel {
    left: 10px;
    text-align: left;
}

.elevationsProfilePopupRequirementLabel {
    color: #ccc;
    padding-left: 6px;
    font-size: smaller;
}
