<div role="presentation" class="${baseClass}" data-dojo-attach-point="containerNode">
  <div data-dojo-attach-point="_optionsToolbar" class="${baseClass}Toolbar" data-dojo-type="dijit/Toolbar">
    <span data-dojo-attach-point="_measureNode"></span><button id="profileCloseButton" type="button" class="close" aria-hidden="true">&times;</button>
  </div>
  <div data-dojo-attach-point="_chartNode" class="${baseClass}ChartNode"></div>
  <div data-dojo-attach-point="_gainLossParentNode" class="${baseClass}GainLossLabel ${baseClass}Label">
    <span data-dojo-attach-point="_gainLossNode"></span>
  </div>
  <div data-dojo-attach-point="_sourceNode" class="${baseClass}SourceLabel ${baseClass}Label"></div>
</div>
