<div class="${theme}" role="presentation">
    <div class="${_css.container}">
            <div data-dojo-attach-point="_homeNode" title="${_i18n.widgets.governWidget.home.title}" role="button" class="${_css.govern}"><span>${_i18n.widgets.governWidget.home.button}</span></div>
    </div>
</div>
